:root{
  --black: #0b0303;
  --white: #ffffff;
  --grey: #d7d1cb;
  --green: #009149;
  --orange: #ea7149;
  --dark_blue: #161345;
  --light_blue: #66C3E3 ;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

@font-face {
  font-family: "Akkurat Pro";
  src: url("../assets/fonts/AkkBd_Pro.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Akkurat Pro";
  src: url("../assets/fonts/AkkRg_Pro.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Sentinel";
  src: url("../assets/fonts/Sentinel-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Akkurat Pro";
  src: url("../assets/fonts/Sentinel-Semibold.otf") format("opentype");
  font-weight: 600;
}

body {
  font-family: "Akkurat Pro";
  min-height: 1280px;
  color: #3b3b3b;
}

a,
a:visited,
a:hover {
  color: teal;
  text-decoration: none;
  border-bottom: 2px solid currentColor;
}

p, h1, h2, h3 {
  margin: 0;
}

#scrolly {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row-reverse;
  /* background-color: #f3f3f3; */
}

#scrolly>* {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

article {
  position: relative;
  padding: 0 1rem;
  max-width: 50%;
}

figure {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-color: transparent;
  z-index: 0;

  pointer-events: none;
}

figure p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: #fff;
}

figure svg{
  position: absolute;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto 2rem auto;
  background-color: var(--grey);
  background-color: transparent;
  color: var(--black);
}

.step:last-child {
  margin-bottom: 0;
}

.step.is-active {
  /* background-color: goldenrod; */
}

/* .step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
} */




/* ---------STYLING--------- */

main {
  /* padding: 1rem 2rem; */
  color: var(--black);
  width: clamp(800px, 60%, 1200px);
  margin: 0 auto;
}


.title {
  width: 80%;
  /* min-width: 700px; */
  padding: 2rem 0 5rem 0;
}

.title .title__header {
  font-family: "Akkurat Pro";
  font-weight: bold;
  font-size: 4.8rem;

  padding-bottom: 0.0rem;
}

.title .title__header--small {
  font-family: "Akkurat Pro";
  font-weight: bold;
  font-size: 3.2rem;

  padding-bottom: 0.5rem;
}

.title .title__subheader {
  font-family: "Sentinel";
  font-size: 2.4rem;
  font-weight: 500;
}

.para {
  font-family: "Akkurat Pro";
  font-weight: 400;
  font-size: 2rem;

  max-width: 60ch;
  padding-bottom: 5rem;
}

a.btn-primary{
  font-size: 2rem;
  color: #efefef;
  background-color: var(--black);
  border-radius: 5px;
  padding: 5px 10px;
}
/* -------- CARD STYLING ---------- */
.card {
  padding: 6rem;
}

.step--1, 
.step--6, 
.step--8 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.step--1 .step--1__ban,
.step--6 .step--6__ban,
.step--8 .step--8__ban{
  font-family: "Akkurat Pro";
  font-weight: bold;
  font-size: 4.4rem;
  padding-bottom: 0.3rem;
}

.step--1 .step--1__para, 
.step--2 .step--2__para, 
.step--3 .step--3__para, 
.step--4 .step--4__para, 
.step--5 .step--5__para, 
.step--6 .step--6__para,
.step--7 .step--7__para,
.step--8 .step--8__para,
.step--9 .step--9__para {
  font-family: "Akkurat Pro";
  font-weight: 400;
  font-size: 2rem;
}

.step--1 .step--1__source,
.step--6 .step--6__source,
.step--8 .step--8__source {
  font-family: "Akkurat Pro";
  font-weight: 400;
  font-size: 1.8rem;

  padding-top: 2rem;
  align-self: end;
}


.step.card:nth-child(3),
.step.card:nth-child(9) {
  width: 200%;
  transform: translateX( calc(-50%) );
}


.step--3, .step--9 {
  min-width: 700px;
  padding: 2rem 0 5rem 0;
}

.step--3 .step--3__header,
.step--9 .step--9__header {
  font-family: "Akkurat Pro";
  font-weight: bold;
  font-size: 4.4rem;

  padding-bottom: 1rem;
}

.step--3 .step--3__subheader {
  font-family: "Sentinel";
  font-size: 2.4rem;
  font-weight: 500;

  max-width: 50ch;
  margin-bottom: 2.5rem;
}

.step--4 .step--4__header{
  font-size: 2.8rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

.step--9{
  padding-top: 50rem;
}

.step--9 .step--9__container{
  display: flex;
  flex-direction: row;

  margin-top: 3rem;
}

.step--9 .step--9__container .step--9__graphic-container, 
.step--9 .step--9__container .step--9__text-container {
  flex: 0 1 50%;
}

.step--9 .step--9__container .step--9__graphic-container{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-right: 4rem;
  margin-right: 4rem;
  border-right: 1px solid var(--grey);
}

.step--9 .step--9__container .step--9__text-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.step--9__graphic{
  margin-bottom: 5rem;
}

.step--9__graphic--1 .step--9__bar-container{
  border: 1px solid var(--black);
  height: 25rem;
}

.step--9__graphic--1 .bar-blank{
  background: transparent;
  height: 22%;
}

.step--9__graphic--1 .bar{
  background: var(--green);
  height: 78%;
  padding: 1rem 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.step--9__graphic--1 .bar__annotation{
  font-size: 20px;
  color: #efefef;
}

.step--9__graphic--1 .bar__ban{
  font-weight: bold;
  font-size: 48px;
  color: #efefef;
}

.step--9__graphic--2{
  display: flex;
  flex-direction: column;
  text-align: right;
}


.step--9__graphic--2 > .step--9__para{
  width: 75%;
  align-self: flex-end;
}

.step--9__graphic--2 > .step--9__para strong,
.step--9__graphic--3 > .step--9__para strong {
  color: var(--green);
  font-weight: bold;
}

.step--9__graphic--2 .step--9__bar-title,
.step--9__graphic--2 .step--9__bar-container {
  align-self: flex-start;
}

.step--9__graphic--2 .step--9__bar-title,
.step--9__graphic--3 .step--9__bar-title{
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 2rem;
}

.step--9__graphic--2 .step--9__bar-container {
  border: 2px solid var(--black);
  width: 100%;
  height: 4rem;
}


.step--9__graphic--3 .step--9__bar-container{
  border: 2px solid var(--black);
  width: 100%;
  height: 4rem;
}

.step--9__graphic--2 .bar {
  position: relative;
  left: 57%;

  width: 43%;
  background-color: var(--green);
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.step--9__graphic--3 .bar {
  position: relative;
  left: 80%;

  width: 20%;
  background-color: var(--grey);
  height: 100%;
  outline: 3px solid white;
  border-left: 2px solid black;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.step--9__graphic--2 .bar .bar__change{
  color: #efefef;
  font-size: 1.5rem;
  text-align: right;
  padding-right: 1rem;
}

.step--9__graphic--3 .bar .bar__change{

  color: var(--black);
  font-size: 1.5rem;
  text-align: right;
  padding-right: 1rem;
}

.step--9__text-container .step--9__mission-text{
  position: relative;
  top: 35rem;
  padding-bottom: 10rem;
}
.step--9__para:not(.bar__annotation .step--9__para) {
  margin-bottom: 2.4rem;
  margin-top: 3rem;
}


/* -------- RESPONSIVE STYLING ---------- */
/* This currently just ensures that the content is visible on smaller screen, even if it looks awkward and is unusable*/

@media (max-width:1000px) {

  main, section{
    width: 100%;
    padding: 0;
  }

  #scrolly{
    display: -webkit-box; 
  }

  article{
    width: 100%;
  }
  
  .title .title__header {
    font-size: 3.2rem;
  }
  
  .title .title__subheader{
    font-size: 2rem;
  }

  .card > div {
    border-radius: 5px;
    background: #efefef;
    border: 1px solid #222;
    opacity: 0.8;
    padding: 2rem;
  }

  .card{
    padding: 0;

    position: relative;
    left: 100%;
    transform: translateX(-50%);

    min-width: 25rem;
  }

  figure{
    left: 50%;
    transform: translateX(-50%); 
    z-index: -1;
  }

  .step--3, .step--9 {
    min-width: 0;
    max-width: 100%;
    padding: 1rem;
  }

  .step.card:nth-child(3),
  .step.card:nth-child(9) {
    width: 100%;
  }

  .para{
    font-family: "Akkurat Pro";
    font-weight: 400;
    font-size: 1.5rem !important;
  
    max-width: 60ch;
    padding-bottom: 1rem;

  }
  
  .step .step--9{
    margin-top: 100rem;
    border: none !important;
    padding-bottom: 60rem;
  }
   
  .step--9 .step--9__container{
    display: flex;
    flex-direction: column;
  
    margin-top: 3rem;
  }

  .step--9 .step--9__container .step--9__graphic-container{
    padding-right: 0;
    margin-right: 0;
    border-right: none;
  } 

  .step--9__text-container .step--9__mission-text{
    position: relative;
    top: 5rem;
  }
  
}